
@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto+Slab:400,700');

body {
background-color: #FFFAF5;
}

.subhead {
background-color: white;
width: 80vw;
border-radius: 7px;
padding: 10px;
border: solid 1px #d6c2d8;
}

h1 {
color: #682a80;
font-size: 28px;
font-family: 'Roboto Slab', Times, Georgia, serif;
font-weight: 700;
}

h2 {
color: #057d98;
font-size: 24px;
font-family: 'Roboto Slab', Times, Georgia, serif;
padding-left: 3vw;
}

h3 {
color: #057d98;
font-size: 20px;
font-family: 'Roboto Slab', Times, Georgia, serif;
padding-top:0px;
margin-top:0px;
}

h4 {
color: #057d98;
font-size: 18px;
font-family: 'Roboto Slab', Times, Georgia, serif;
padding-top:0px;
margin-top:0px;
}

a {
margin-left: 40px;
}

.button {
font-family: 'Questrial', Helvetica, Arial, sans-serif;
background-color: #682a80; /* Dark purple */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
border-radius: 10px;
text-decoration: none;
}

a:hover {
background-color: #d6c2d8;
color: #682a80;
border-radius: 7px;
}

footer{
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
}
</style>
