body {
  background-color: #FFFAF5;
}
.subhead {
  background-color: white;
  width: 80vw;
  border-radius: 30px;
  margin: 40px auto;
  padding: 30px;
}
.widePhoto {
  background-image: url('../img/hands.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width: 100%;
  height: 70vh;
}
@media (max-width: 900px) {
  .widePhoto {
      background-size:contain;
  }
}
