<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wireframes</title>
    <meta name="Franklin County Family &amp; Community Services" content="Franklin County Family &amp; Community Services">
  </head>
  <body>
    <header>
      <img src="img/header-logo.svg" class="header-logo" alt="logo"></img>
        <nav class="navigation" role="navigation">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Get Involved</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
          </nav>
    </header>


<!-- Add the code for your slider -->
<!-- Create a DIV with the class "carousel-cell" for each item you'd like in your slider.  Note, for images, it's best to resize them all to the same height and width -->
<div class="carousel js-flickity" data-flickity-options='{ "imagesLoaded":"true", "autoPlay": "true", "watchCSS":"true" }'
         >
  <div class="carousel-cell">
            <img src="img/father.jpg" class="image-slider" alt="father reading to daughter"></img>
    </div>
  <div class="carousel-cell">
            <img src="img/counsel.jpg" class="image-slider" alt="group talking"></img>
    </div>
    <div class="carousel-cell">
            <img src="img/baby.jpg" class="image-slider" alt="baby with a developmental disability"></img>
    </div>
</div>






<div class="subhead">
<p>We are a public agency created by the state of Ohio to provide mental health, developmental disability, and/or substance abuse services to residents of Franklin County and its surrounding areas.
Maximize satisfaction and outcomes through respectful, evidence-based treatment and interventions.
We strive for individual empowerment, passion for innovation and integrity, customer-driven care and support and a focus on community.</p>
</div>

<div class="subhead">
<h3>Donation</h3>
Donate today to help those in need. All proceeds go towards helping the members of your community grow and prosper in their struggling time of need. Your gift is a powerful investment in hope.</div>


<div class="subhead">
<h3>Upcoming Events</h3>
Attend these events happening this week:</div>


<div class="subhead">
<h3>Quick Help</h3>
Get Involved Today!</br>
Crisis Prevention Hotline: 111-1111-1111</div>

      <footer>Josh &amp; Kierstynn Copyright 2016</footer>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
      <!-- Flickity hosts the appropriate CSS and JavaScript for you, so you don't need to download them if you don't want to.  Add the Flickity JavaScript and CSS File to the end of your HTML (before the closing body tag) -->
      <script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>
      <link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css">
  </body>
</html>
